<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <div class="p-4 bg-white rounded-lg flex flex-col" id="notice">
      <p class="font-medium">Alert<p>
      <p><%= notice %></p>
    </div>
  <% end %>
  <div class="bg-white p-4 rounded-lg w-full">
    <h1 class="w-full text-4xl font-medium text-left leading-snug font-serif"><%= @friend.first_name + " " + @friend.last_name %></h1>  
    <div class="relative">
      <label class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
        Name
      </label>
      <span 
        class="
          border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 
          pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-whiteborder-gray-300 rounded-md
        " 
      >
        <%= @friend.first_name + " " + @friend.last_name %>
      </span>
    </div>
    <div class="relative">
      <label class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
        E-mail
      </label>
      <span 
        class="
          border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 
          pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-whiteborder-gray-300 rounded-md
        " 
      >
        <%= @friend.email %>
      </span>
    </div>
    <div class="relative">
      <label class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
        Phone
      </label>
      <span 
        class="
          border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 
          pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-whiteborder-gray-300 rounded-md
        " 
      >
        <%= @friend.phone %>
      </span>
    </div>
  </div>
  <div class="flex items-center justify-end gap-4 mt-3">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "underline text-white" %>
    <%= button_to "Destroy this friend", friend_path(@friend), method: :delete, class: "underline text-white" %>
    <%= link_to "Back to friends", friends_path, class: "underline text-white" %>
  </div>
</div>
